

:root{
    --color1:#252134;
    --size1:35px;
    --size2:17px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Eladio', sans-serif;
}
body{
	background: #fff;
	overflow-x: hidden;
	
	
}


/** Navegation Menu **/
header{
	width: 100%;
	position: relative;
	
}
.nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	z-index: 999;
	
}
.logo{
	width: 300px;
	height: auto;
	padding:10px 50px;
}
.logo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/** Bar icon **/
.bar-icon{
	position: relative;
	width: 70px;
	height: 70px;
	margin-right: 50px;
	cursor: pointer;
	transition: 0.5s;
}
.bar-icon span{
	width: 40px;
	height: 4px;
	background: #fff;
	position: absolute;
	transition: 0.5s;
	transform: translateX(-50%);
}
.bar-icon span:nth-child(1){
    top: 30%;
    left: 50%;
    background: #fff;
}
.bar-icon span:nth-child(2){
    bottom: 30%;
    left: 50%;
    background: #fff;
}
.bar-icon.active span:nth-child(1){
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%) rotate(125deg);
	background: var(--color1);
}
.bar-icon.active span:nth-child(2){
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%) rotate(225deg);
	background: var(--color1);
}
.bar-icon:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 4px;
	background: #fff;
	transition: 0.5s;
}
.bar-icon.active:before{
	width: 0;
	height: 0;
}
/** bar-icon **/

.container-list{
	position: absolute;
	top: 70px;
	left: 0;
	width: 0%;
	overflow: hidden;
	height: 89.4vh;
	background: #f1f4df;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-list .list li{
	list-style: none;
	padding:10px 0px;
}
.container-list .list li a{
	position: relative;
	text-decoration: none;
	font-size: 2.5em;
	color: #ddd;
	font-weight: 700;
}
.container-list .list li a:before{
	content: attr(data-text);
	position: absolute;
	top: -2px;
	width: 100%;
	color: #303a52;
	overflow: hidden;
	white-space: nowrap;
	transition: 0.5s ease-in-out;
}
.container-list .list:hover li a:before{
	width: 0%;
}
.container-list .list li:hover a:before{
	width: 100%;
}

/** IMG HEADER **/
.img-header{
	position: relative;
	background: url(https://drive.google.com/uc?export=download&id=1goJTXPZL2N3PoqgMRxvvzfW-8VpCNtcc);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.degradade{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.2);
}
.welcome{
	position: absolute;
	padding:50px;
	z-index: 10;
}
.welcome h1{
	font-size: 4em;
	color: #fff;
	font-weight: 300;
}

/** IMG HEADER **/

/** Navegation Menu **/

/** Acerca de **/
.acerca-de{
	width: 100%;
	padding: 50px;
	margin-top: 100px;
}
.acerca-de .left{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 70px;
}
.acerca-de .right{
	width: 100%;
	display: flex;
	align-items: center;
}
.acerca-de .info{
	width: 70%;
	padding:0px 30px;
}
.acerca-img{
	width: 40%;
	height: 40%;
}
.acerca-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.acerca-de .info h2{
	margin:15px;
	font-size: 30px;
	color:#9e579d;
}
.acerca-de .info p{
	font-size: 17px;
	color: var(--color1);
	line-height: 27px;
	margin: 10px 0px;
}
.read-more{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.read-more > a{
	width: 200px;
	height: 50px;
	background: #fff;
	text-decoration: none;
	color: var(--color1);
	font-size: 20px;
	text-align: center;
	transition: 0.5s ease-in-out;
	border:1px solid var(--color1);
	border-radius: 10px;
	padding:12px;
}
.read-more > a:hover{
	background: var(--color1);
	color: #fff;
	border:1px solid #fff;
}

/** Acerca de **/

/** Team **/
.team-pets{
	width: 100%;
	padding:50px 0px;
	background: #fff;
}
.team-pets h2{
	display: flex;
	justify-content: center;
	margin:50px 0px;
	font-size: 50px;
	color: #9e579d;
	font-weight: 300;
}
.content-cards{
	width: 100%;
	margin:auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.content-cards .card{
	position: relative;
	width: 300px;
	height: 300px;
	background: #000;
	margin:20px;
	border-radius: 10px;
	cursor: pointer;
}
.content-cards .card .card-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #000;
	border-radius: 10px;
	padding:10px;
}
.content-cards .card .card-content h4{
	color: #fff;
	margin:20px 0px;
	font-size: 17px;
}
.content-cards .card .card-content p{
	color: #fff;
	line-height: 30px;
	font-size: 15px;
}
.content-cards .card img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	transition: 1s;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
}
.content-cards .card:hover img{
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}

/** Team **/

/** Redes **/
.redes{
	height: 200px;
	background-color: #84acbf;
	padding: 30px;

}
.redes h2{
	font-family: Eladio;
	text-align: center;
	font-weight: bold;
}
.sociales{
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}
.sociales li{
	display: inline-block;
}

/** Redes **/

/** Footer **/

/** Footer **/

/********************** Responsive Desing *********************************/



